#p1{		
    font-size: 25px;
    font-style: italic;
}
#p2{		
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #17A589;
}
#t1{            
    background-color:   #3498db  ;
}
#t2{            
    background-color:   #aed6f1  ;
}
#nuevo1{
    font-family: Verdana;
    text-decoration: underline;
}
#nuevo2{
        background-color: #FFF;
        font-weight: bold;
}
body{
    background-color: rgb(251,251.251);
    background-color: linear-gradient(90deg,rgb(251, 251, 251));
}
