body{
    background-color: #CFC;
}
*{
    color: #00F;
    font-family: Georgina, Cambria, serif;
}
h1{
    color: #f00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 36px;
}
h2{
    color: #A00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 24px;
}
b{
    font-size: 20px;
}
.span{
    color: #060;
}
i{
    color: #FFF;
    background-color: #000;
}
